*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 31);
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*top padding*/
    padding: 20px;
    background-color:rgb(2, 2, 58);
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li a {
    
    display: flex;
    text-decoration: none;
    padding-right: 20px;
    color: white;
    
}
 nav ul li a:hover{
    color: yellow;
    font-size: 1.2rem;
    text-shadow: 4px 4px 6px rgb(214, 9, 214);
 }
/*.nav ul li a {
    text-decoration: none;
    color: white;
}*/

.left{
    font-family:monospace ;
    font-size: 2rem;
    color: aqua;
    /*font-family: serif;*/
    text-shadow: 6px 6px 8px rgb(168, 25, 168);
}
.firstweb{
    display: flex;
    justify-content: space-around; 
    margin: 35px;

}
.leftsection{
    /*background-color: rgb(196, 39, 39);*/
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    margin: 50px;
    

}
.firstweb > div{
    width: 30%;
    
}
.rightsection img{
    width: 80%;
    margin: 50px;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(236, 228, 228, 0.5);
}
.namec{ /*name sairaj using span*/
    color: rgb(204, 31, 204);
    font-weight:900;
    text-shadow: 1.5px 1.5px 2px rgb(8, 206, 241)                                                                                                     
}
#element{
    color: aqua;
    text-shadow: 2px 2px 4px rgb(250, 225, 4)
}

  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}