body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    background-image: url('AIPIC.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.project-container {
    display: flex;
    flex-wrap: wrap; /* Allow projects to wrap onto the next line */
    justify-content: center;
    align-items: center;
    height: 1%;
    margin-bottom: 200px;
}


.project-set {
    display: flex;
    padding-bottom:90px;
}

/* Add the following CSS for space between lines */
.project-set + .project-set {
    margin-top: 300px; /* Adjust the space between lines as needed */
}


.project-set + .project-set + .project-set {
    margin-top: 600px; /* Adjust the space between lines as needed */
}
.back_logo{
    
}



.project-box {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.2s;
}
g
.project-box:hover {
    transform: scale(1.1);
}

.project-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    text-align: left;
    font-weight: normal;
}

.project-box:hover .project-details {
    display: block;
}
